.card {
  transition: .3s;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

@media (min-width: 992px) {
  .more-padding {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
  }
}
