/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --gold: #725132;
  --purple: #1f1a38;
  --bg-gold: #ede2d7;
}

body, a {
  color: var(--purple);
}

a {
  text-decoration: none;
}

.text-gold, a:hover {
  color: var(--gold);
}

.bg-gold {
  background-color: var(--bg-gold);
  color: var(--purple);
}

.bg-purple {
  background-color: var(--purple);
  color: var(--bg-gold);
}

.btn-gold {
  background-color: var(--gold);
  color: white;
  padding: 0.6rem 1.6rem;
  transition: all 0.3s ease;
}

.btn-gold:hover {
  background-color: #5f4329;
  color: white;
}

.title-gold {
  margin-bottom: 1.5rem;
  color: var(--gold);
}

.scale-up {
  transition: transform 0.3s ease;
}

.scale-up:hover {
  transform: scale(1.1);
}

.pop-out {
  transition: .3s;
}

.pop-out:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
